<!-- Form -->
<div class="card">
    <div class="card-header p-b-0">
        <h5 class="card-title">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Log In
        </h5>
    </div>
    <div class="card-block">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
            <div class="form-group">
                <input ngModel type="text" class="form-control" id="uid" name="uid" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input ngModel type="password" class="form-control" id="pwd" name="pwd" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
            <a [routerLink]="['/signup']"> ลงทะเบียนที่นี่</a>
        </form>
    </div>
</div>
