<!-- Articles -->
<div class="row">
    <div class="col-md-8">
        <article class="col-xs-12">
            <h2>Premier Niche Markets</h2>
            <p>Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively
                coordinate proactive e-commerce
                via process-centric "outside the box" thinking. Completely pursue scalable customer service
                through sustainable potentialities.</p>
            <p><button class="btn btn-outline-success">Read More</button></p>
            <p class="pull-right"><span class="tag tag-default">keyword</span> <span class="tag tag-default">tag</span>
                <span class="tag tag-default">post</span></p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Today</a></li>
                <li class="list-inline-item"><a href="#"><span class="glyphicon glyphicon-comment"></span> 2
                        Comments</a></li>
                <li class="list-inline-item"><a href="#"><span class="glyphicon glyphicon-share"></span> 8
                        Shares</a></li>
            </ul>
        </article>
    </div>
    <div class="col-md-4">
        <app-login></app-login>
        <app-slide></app-slide>
    </div>
</div>