<input [(ngModel)]="keywordFilter" type="text" class="form-control" placeholder="ค้นหาที่นี่">
<br>
กำลังค้นหา: {{keywordFilter}}
<br>
<div class="row">
    <div *ngFor="let item of product | productFilter:keywordFilter" class="col-md-6">
        <div class="card card-block">
            <h3 class="card-title">{{item.c_title | uppercase}}</h3>
            <p class="card-text">{{item.c_detail}}</p>
            <button (click)="onShowDetail(item)" class="btn btn-primary">เข้าเรียน</button>
        </div>
    </div>
</div>